body {
  background-color: #E8E8E8;
}

hr{
  border-color: #1C2B2D;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 15%;

}

h1 {
  Color: #16697A ;
}

h3 {
  Color: #0F3057;
}
